*~
*.o
.DS_Store
*/*.bin
*.old
*/*.old
*/*/*.old
*.pem
*.bin
build/*
sdkconfig
json2gpx
makepostcodes
*.o
KiCad/*-backups
KiCad/fp-info-cache
components/*
dependencies.lock
managed_components
*.dSYM
settings.c
settings.h
