[submodule "components/ESP32-OLED"]
	path = components/ESP32-OLED
	url = https://github.com/revk/ESP32-OLED
[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
